body {
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;
}

h1 {
    color: red;
}

p {
    color: chocolate;
}

p, li {
    padding-left: 20px;
}

#lien-ket, #ky-nang {
    border: 1px solid blue;
}

/* add scroll up */
#scroll-up {
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}